LEADER_GITHUB_TOKEN=""
LEADER_GITHUB_USERNAME=""
WORKER1_GITHUB_TOKEN=""
WORKER1_GITHUB_USERNAME=""
WORKER2_GITHUB_TOKEN=""
WORKER2_GITHUB_USERNAME=""

LEADER_STAKING_KEYPAIR="/path/to/wallet.json"
LEADER_PUBLIC_KEYPAIR="/path/to/wallet.json"
WORKER1_STAKING_KEYPAIR="/path/to/wallet.json"
WORKER1_PUBLIC_KEYPAIR="/path/to/wallet.json"
WORKER2_STAKING_KEYPAIR="/path/to/wallet.json"
WORKER2_PUBLIC_KEYPAIR="/path/to/wallet.json"
